.developer-profile {
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.developer-logo {
  width: 2250px;
  height: 200px;
}

.developer-info {
  position: absolute;
  top: 10%;
  left: 10%;
}
.developer-header {
}

.developer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.sidebar {
  background-color: #333;
  padding: 20px;
  width: 300px;
}

.team-info {
}

.social-links {
}

.contact-info {
}

.profile-nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.developer-main {
}

.game-list {
}

.featured-games {
}

.update-log {
  list-style-type: none;
}

.similar-games {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}
