* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.store-container {
  padding: 20px;
  background-color: #181818;
  color: #fff;
}

.store-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: start;
  font-family: "Russo One";
  font-weight: lighter;
}

.game-container {
  padding: 20px;
  text-align: left;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media (max-width: 1400px) { /* Big Screens */
  .games-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) { /* Medium Screens */
  .games-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) { /* Small Screens */
  .games-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) { /* Small Screens */
  .game-title {
    font-size: 1.2rem;
    margin: 5px 0;
  }

  .game-price-wrapper {
    margin-top: 5px;
    font-size: 1.2rem;
  }
}

.game-card {
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(62, 62, 62, 0.2);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;

}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-align: start;
  font-family: 'Poppins';
}

.game-title {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: start;
}

.game-price-wrapper {
  font-size: 1.1rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.game-price {
  font-size: 1.1rem;
  color: #dfdfdf;
  font-weight: bold;
  white-space: nowrap;
}

.game-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.developer-info {
  display: flex;
  align-items: center;
}

.developer-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.developer-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: #dfdfdf;
  margin: 0;
}
